#body {
    background-color: #eeeeee;
}

#userInfo {
    margin-left: 30%;
    color: deepskyblue;
}

#contain1 {
    width: 80%;
    background-color: skyblue;
    height: auto;
    margin-left:  auto;
    margin-right: auto;

}

#contain2 {
    width: 80%;
    background-color: bisque;
    height: auto;
    margin-left:  auto;
    margin-right: auto;

}

#contain3 {
    width: 80%;
    background-color: aquamarine;
    height: auto;
    margin-left:  auto;
    margin-right: auto;

}

#contain4 {
    width: 80%;
    background-color: lightblue;
    height: auto;
    margin-left:  auto;
    margin-right: auto;

}

.shelf {
    border : 1px solid white;
    height: 300px;
    overflow-y: auto;
}

#logoutButton{
    margin-left: 20px;
    margin-top: 15px;
}